<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiu</title>
</head>
<body>
    <header>
        <Label for="pesquisar">Pesquisar: </Label>
        <input id="pesquisar" placeholder="Pesquise pela marca do produto!">
        <button onclick="buscar()">Buscar</button>
        <a href="{{ url_for('capturar') }}">AAAAAAAAa</a>
    </header>
    <h1>Lista</h1>
    <select class="filtrar-select">
        <option value="null">Tudo</option>
        <option value="eletrodomestico">Eletrodomésticos</option>
        <option value="casa e construcao">Tudo</option>
        <option value="">Tudo</option>
        <option>Tudo</option>
    </select>
    <ul id="res"></ul>
</body>
<script type="module" src="/static/script/search_produtos.js"></script>
<script src="/static/script/pesquisa.js"></script>
</html>